@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Open page '/Contacts/Index' to see the test api</p>
    <a asp-area="" asp-controller="Contacts" asp-action="Index">Contacts here</a>

</div>
